<% content_for :javascript_includes do %>
  <%= javascript_include_tag "movements.js" %>
	<%= GMap.header(:local_search => true) %>
	<%= @map.to_html %>
<% end %>
	<% if not form.error_messages.blank? %>
		<div class="msg msg-error">
			<%= form.error_messages  :header_message => nil, :message => nil %>
		</div>
<% end %>
<dt><%= form.label :description , I18n.t('layout.movements.description') %></dt>
<dd><%= form.text_field :description , :class => 'txt' %></dd>
<dt><%= form.label :amount,I18n.t('layout.movements.amount')  %></dt>
<dd><%= form.text_field :amount , :class => 'txt'%></dd>
<dt><%= form.label I18n.t('layout.movements.typetag') %></dt>
<dd><div id="movement_type_bgroup" class="yui-buttongroup">
	<%= form.hidden_field :mov_type, {:id => "movement_mov_type"}%>
	<input type="radio" id="mov_debit" name="mov_debit" value="<%=  I18n.t('layout.movements.debit') %>" />
	<input type="radio"  id="mov_credit" name="mov_credit" value="<%=  I18n.t('layout.movements.credit') %>" />				
</div></dd>
<dt><%= form.label :movdate,I18n.t('layout.movements.movdate') %></dt>
<dd><div id="movements_controller"> <%= form.date_select :movdate %></div></dd>
<% if @movement.user_id == @current_user.id %>
	<dt><%= form.label :private,I18n.t('layout.movements.private') %></dt>
	<dd><%= form.check_box :private %></dd>

	<dt><%= form.label :category_id,I18n.t('layout.movements.category') %></dt>
	<dd><div id="mov_category_container"></div><%= form.collection_select :category_id, current_user.categories.find(:all), :id, :name, { :include_blank => true}, { :id => 'movement_category_id' } %>
		
		</dd>
	<dt><%= form.label :tag_list,I18n.t('layout.movements.tags') %></dt>
	<dd><%= form.text_field :tag_list , :class => 'txt'%></dd>
	
 <% end %>
<%= form.hidden_field :currency %>
<%= form.hidden_field :lat %>
<%= form.hidden_field :lng %>