<% form_for @movement, :html => {  :class=>"dialog", :selected => "true"}, :url => quickmovement_path do |f| %>
  <fieldset>
   <h1><%=  I18n.t('layout.movements.new')%></h1>
   <a class="button leftButton" type="cancel"><%= I18n.t('layout.application.cancel') %></a>
   <a class="button blueButton type="submit"><%= I18n.t('layout.application.create') %></a>
    <%= f.label :description ,I18n.t('layout.movements.description'),:class=>"altLabel" %>
    <%= f.text_field :description,:class=>"altBigInput"  %>
      <%= f.label :amount,I18n.t('layout.movements.amount'),:class=>"altLabel" %>
    <%= f.text_field :amount,:class=>"altInput" %>
  
    <%= f.radio_button :mov_type,"-1" %><%=  I18n.t('layout.movements.debit') %>
    <%= f.radio_button :mov_type,"1" %><%=  I18n.t('layout.movements.credit') %>
  
    <%= f.label :movdate,I18n.t('layout.movements.movdate') ,:class=>"altLabel"%>
    <%= f.date_select :movdate %>
  
  <%= f.label :category_id ,I18n.t('layout.movements.category') ,:class=>"altLabel"%>
  <%= f.collection_select :category_id, current_user.categories.find(:all, :order => 'name'), :id, :name,  :include_blank => true %>
  
  <%= f.label :account_id ,I18n.t('layout.bankaccounts.title') ,:class=>"altLabel"%>
  <%= f.collection_select :account_id, Account.find(:all, :conditions => {:user_id => current_user.id},:order => 'name'), :id, :name,  :include_blank => false %>
  
	<label class="altLabel"> tags:</label>
	<%= f.text_field :tag_list ,:class=>"altInput" %>
  
    
  </fieldset>
  
  <% end %>