        <div class="tabbertab">
            <h2><%=  I18n.t('layout.movements.title') %></h2>
            <div class="container1">


<% form_for([@account,@movement]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label I18n.t('layout.movements.description') %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label I18n.t('layout.movements.amount') %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.radio_button :mov_type,"-1" %><%=  I18n.t('layout.movements.debit') %>
    <%= f.radio_button :mov_type,"1" %><%=  I18n.t('layout.movements.credit') %>
  </p>
  <p>
    <%= f.label I18n.t('layout.movements.movdate') %><br />
    <%= f.date_select :movdate %>
  </p>
    <p>
  <%= f.label :category_id ,I18n.t('layout.movements.category') %><br />
  <%= f.collection_select :category_id, current_user.categories.find(:all, :order => 'name'), :id, :name,  :include_blank => true %>
  </p> 
  <p>
    <%= f.submit I18n.t('layout.application.update') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.movements.back'), polymorphic_path([@account,:movements]) %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->