<% form_for [@account,@movement], :html => {  :class=>"dialog", :selected => "true"}, :url => polymorphic_path([@account,@movement]) do |f| %>
  <fieldset>
   <h1><%=  I18n.t('layout.movements.title')%></h1>
   <a class="button leftButton" type="cancel"><%= I18n.t('layout.application.cancel') %></a>
   <a class="button blueButton" type="submit"><%= I18n.t('layout.application.update') %></a>
    <%= f.label :description ,I18n.t('layout.movements.description'),:class=>"altLabel" %>
    <%= f.text_field :description  %>
      <%= f.label :amount,I18n.t('layout.movements.amount'),:class=>"altLabel" %>
    <%= f.text_field :amount,:class=>"altInput" %>
  
    <%= f.radio_button :mov_type,"-1",:id => "radiobutton_debit" %><%=  I18n.t('layout.movements.debit') %>
    <%= f.radio_button :mov_type,"1" ,:id => "radiobutton_credit"%><%=  I18n.t('layout.movements.credit') %>
  
    <%= f.label :movdate,I18n.t('layout.movements.movdate') ,:class=>"altLabel"%>
    <%= f.date_select :movdate %>
    <%= f.collection_select :category_id, current_user.categories.find(:all, :order => 'name'), :id, :name,  :include_blank => I18n.t('layout.movements.category')  %>
      
	<label class="altLabel"> tags:</label>
	<%= f.text_field :tag_list ,:class=>"altInput" %>
  
    
  </fieldset>
  
  <% end %>
  