        <div class="tabbertab">
            <h2>Movements</h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col">Description</th>
    <th scope="col">Amount</th>
    <th scope="col">Type</th>
    <th scope="col">Date</th>
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @movements.each do |movement| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h movement.description %></td>
    <td><%=h number_to_currency(movement.amount) %></td>
    
    <td><%=h case movement.mov_type when -1 then "D" when 1 then "C" end %></td>
    
    <td><%=h movement.movdate.to_date %></td>
    <td><%= link_to 'Edit', edit_bankaccount_movement_path(movement.account_id,movement),:class => 'table_edit' %>
    <%= link_to 'Destroy',  bankaccount_movement_path(movement.account_id,movement) , :confirm => 'Are you sure?', :method => :delete ,:class => 'table_delete' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New movement', new_bankaccount_movement_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->