        <div class="tabbertab">
            <h2><%=  I18n.t('layout.movements.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.movements.description') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.amount') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.type') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.movdate') %></th>
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @movements.each do |movement| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to movement.description, polymorphic_path([@account,movement])%></td>
    <td><%=h number_to_currency(movement.amount) %></td>
    
    <td><%=h case movement.mov_type when -1 then "D" when 1 then "C" end %></td>
    
    <td><%=h movement.movdate.to_date %></td>
    <td><%= link_to I18n.t('layout.application.edit'), edit_polymorphic_path([@account,movement]),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'),  polymorphic_path([@account,movement]) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to I18n.t('layout.movements.new'), new_polymorphic_path([@account,:movement]) %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->