        <div class="tabbertab">
            <h2><%=  I18n.t('layout.movements.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.movements.description') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.amount') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.type') %></th>
    <th scope="col"><%=  I18n.t('layout.movements.movdate') %></th>
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @movements.each do |movement| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= link_to movement.description, polymorphic_path([@account,movement])%></td>
    <td><%=h number_to_currency(movement.amount) %></td>
    
    <td><%=h case movement.mov_type when -1 then "D" when 1 then "C" end %></td>
    
    <td><%=h movement.movdate.to_date %></td>
    <td>
	<% if movement.user_id == @current_user.id %>
		<%= link_to I18n.t('layout.application.edit'), edit_polymorphic_path([@account,movement]),:class => 'table_edit' %>
		<%= link_to I18n.t('layout.application.delete'),  polymorphic_path([@account,movement]) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %>			
	<% else %>
		<% if @account.allow_edit == '1' %>
		<%= link_to I18n.t('layout.application.edit'), edit_polymorphic_path([@account,movement]),:class => 'table_edit' %>
		<% end %>
		<% if @account.allow_delete == '1' %>
		<%= link_to I18n.t('layout.application.delete'),  polymorphic_path([@account,movement]) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %>
		<% end %>
	<% end %>
	</td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<% if @account.allow_insert == '1' %>
<%= link_to I18n.t('layout.movements.new'), new_polymorphic_path([@account,:movement]) %>
<% end %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->

		  <div class="tabbertab">
	            <h2><%=  I18n.t('layout.bankaccounts.title') %></h2>
	            <div class="container1">
	<p>
	  <b><%=I18n.t('layout.bankaccounts.accountname') %></b>
	  <%=h @account.name %>
	</p>

	<p>
	  <b><%=  I18n.t('layout.bankaccounts.accountnumber') %></b>
	  <%=h @account.number %>
	</p>

	<p>
	  <b><%=  I18n.t('layout.bankaccounts.accountbank') %></b>
	  <%=h @account.bank %>
	</p>



	
	<% if @account.type == 'Bankaccount' and @account.owner == '1' %>
	 <%= link_to I18n.t('layout.application.edit'), edit_bankaccount_path(@account),:class => 'table_edit' %>| <%= link_to I18n.t('layout.application.delete'), bankaccount_path(@account), :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete'%>
	<br/>
	<br/>
		<% sharedaccountinvitations = @account.shared_account_invitations.find(:all) %>
		<%= link_to I18n.t('layout.sharedinvitations.new'), new_polymorphic_path([@account,:shared_account_invitation]) %>
		<br/>
		<br/>	
		<% if not sharedaccountinvitations.empty? %>
			<table class="broom_table">
			 <thead>
			  <tr>
				<th scope="col"><%=  I18n.t('layout.sharedinvitations.email') %></th>
				<th scope="col"><%=  I18n.t('layout.sharedinvitations.caninsert') %></th>
				<th scope="col"><%=  I18n.t('layout.sharedinvitations.canupdate') %></th>
				<th scope="col"><%=  I18n.t('layout.sharedinvitations.candelete') %></th>
				<th scope="col"></th>
			  </tr>
			</thead>   
			<tbody>
			<% sharedaccountinvitations.each do |sharedaccountinvitation| %>
			  <tr class="<%= cycle('odd', 'even') %>">
				<td><%=h sharedaccountinvitation.recipient_email %></td>
				<td><%= check_box_tag "allow_insert",sharedaccountinvitation.allow_insert,sharedaccountinvitation.allow_insert ==1,:disabled => true %></td>
				<td><%= check_box_tag "allow_edit", sharedaccountinvitation.allow_edit,sharedaccountinvitation.allow_edit==1,:disabled => true %></td>
				<td><%= check_box_tag "allow_delete", sharedaccountinvitation.allow_delete,sharedaccountinvitation.allow_delete==1,:disabled => true %></td>    
				<td><%= link_to I18n.t('layout.application.delete'),  polymorphic_path([@account,sharedaccountinvitation]) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %></td>
			  </tr>
			<% end %>
			</tbody>
			</table>
			<br/>
		<% end %>
		
			<% if not @shares.empty? %>
				<table class="broom_table">
				 <thead>
				  <tr>
					<th scope="col"><%=  I18n.t('layout.accountsusers.user') %></th>
					<th scope="col"><%=  I18n.t('layout.accountsusers.caninsert') %></th>
					<th scope="col"><%=  I18n.t('layout.accountsusers.canupdate') %></th>
					<th scope="col"><%=  I18n.t('layout.accountsusers.candelete') %></th>
					<th scope="col"></th>
				  </tr>
				</thead>   
				<tbody>
				<% @shares.each do |myshares| %>
				  <tr class="<%= cycle('odd', 'even') %>">
					<td><%=h myshares.login %></td>
					<td><%= check_box_tag "allow_insert",myshares.allow_insert,myshares.allow_insert ==1,:disabled => true %></td>
					<td><%= check_box_tag "allow_edit", myshares.allow_edit,myshares.allow_edit==1,:disabled => true %></td>
					<td><%= check_box_tag "allow_delete", myshares.allow_delete,myshares.allow_delete==1,:disabled => true %></td>    
					<td></td>
				  </tr>
				<% end %>
				</tbody>
				</table>
				<br/>
			<% end %>
		
		
		
	<% end %>
	
	            </div><!--/end .container1-->
	        </div><!--/end .tabbertab-->