        <div class="tabbertab">
            <h2><%=  I18n.t('layout.movements.title') %></h2>
            <div class="container1">

<% form_for([@bankaccount,@movement]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label I18n.t('layout.movements.description') %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label I18n.t('layout.movements.amount') %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.radio_button :mov_type,"-1" %><%=  I18n.t('layout.movements.debit') %>
    <%= f.radio_button :mov_type,"1" %><%=  I18n.t('layout.movements.credit') %>
  </p>
  <p>
    <%= f.label I18n.t('layout.movements.movdate') %><br />
    <%= f.date_select :movdate %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.application.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.movements.back'), bankaccount_movements_path(@bankaccount) %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->