
<% form_for @quick_movement, :html => {  :class=>"dialog", :selected => "true"}, :url => quickmovement_path do |f| %>
  <fieldset>
   <h1><%=  I18n.t('layout.movements.new')%></h1>
   <a class="button leftButton" type="cancel"><%= I18n.t('layout.application.cancel') %></a>
   <a class="button blueButton" type="submit" ><%= I18n.t('layout.application.create') %></a>
    <%= f.label :description ,I18n.t('layout.movements.description'),:class=>"altLabel" %>
    <%= f.text_field :description  %>
      <%= f.label :amount,I18n.t('layout.movements.amount'),:class=>"altLabel" %>
    <%= f.text_field :amount,:class=>"altInput" %>
	<label> Include Location </label>
	<div class="row">
	  <div class="toggle" id="locationtoggle" toggled="false" onclick="includemovementposition();">
	  <span class="thumb"></span>
	  <span class="toggleOn">ON</span>
	  <span class="toggleOff">OFF</span>
	  </div>
	</div>  
    <%= f.radio_button :mov_type,"-1",:id => "radiobutton_debit" %><%=  I18n.t('layout.movements.debit') %>
    <%= f.radio_button :mov_type,"1" ,:id => "radiobutton_credit"%><%=  I18n.t('layout.movements.credit') %>
    <%= f.collection_select :category_id,  current_user.categories.find(:all, :order => 'name'), :id, :name,  :include_blank => I18n.t('layout.movements.category')  %>
    <%= f.collection_select :account_id,current_user.accounts.find_accounts(:all), :id, :name,  :include_blank => I18n.t('layout.bankaccounts.title') %>
  
	<label class="altLabel"> tags:</label>
	<%= f.text_field :tag_list ,:class=>"altInput" %>
    
	<%= f.hidden_field :lat, :value => @quick_movement.lat %>
	<%= f.hidden_field :lng, :value => @quick_movement.lng %>
	<%= f.hidden_field :accuracy, :value => @quick_movement.accuracy %>
    
  </fieldset>
  
  <% end %>