<div class="box box-first box-75 altbox "><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.movements.name') %></h3>
			<h4><%= I18n.t('layout.movements.dates_interval')  %   [@startdate,@enddate]  %>	</h4>
		</div>
		<div class="content">
			<% if not  @movements.empty? %>
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.movements.description') %></th>
						<th class="first"><%=  I18n.t('layout.movements.amount') %></th>
						<th class="first"><%=  I18n.t('layout.movements.type') %></th>
						<th class="first"><%=  I18n.t('layout.movements.movdate') %></th>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
						<% @movements.each_with_index do |movement,i| %>	
							<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
								<td class="first"><%= link_to movement.description, polymorphic_path([@account,movement])%></td>
							    <td class="tr"><%= movement.amount.format %></td>

							    <td class="tc"><%=h movement.type_of_movement %></td>

							    <td><%=h movement.movdate.to_date %></td>				
								<td class="tc last">
									<% if movement.user_id == @current_user.id %>
									<ul class="actions">
										<li>
											<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_polymorphic_path([@account,movement]),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
										</li>
										<li>
							    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  polymorphic_path([@account,movement]) , {:method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
									</ul>		
									<% else %>
									<ul class="actions">
										
										<% if @account.allow_edit == '1' %>
										<li>
										<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_polymorphic_path([@account,movement]),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>
										</li>
										<% end %>
										<% if @account.allow_delete == '1' %>
										<li>
										<%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  polymorphic_path([@account,movement]) , {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
										
										<% end %>
									</ul>
									<% end %>
									
									 
								</td>
							</tr>
						<% end %>	
				</tbody>
			</table>
			<div class="pagination">
				
				<% if @movements.total_entries > @movements.per_page %>
								<%= will_paginate @movements , :previous_label => I18n.t('layout.application.previous'), 
								:next_label => I18n.t('layout.application.next') %>
				<% else%>
					<div></div>	
				<% end %>
			</div>
			<% else %>
				<div class="basic tc" style="margin:10px;">	
					<% if @account.allow_insert == '1' %>
						<%= link_to I18n.t('layout.movements.new'), new_polymorphic_path([@account,:movement]) %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="box box-25 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="inner-form">
			
			<% form_tag(polymorphic_path([:search,@account,:movements]) , :method => "get", :class => "search_form") do %>

			  
			
			<div id="search" class="basic clearfix">
				<dl >
					<dt><%= I18n.t('layout.movements.description') %></dt>
				<dd class="search-input">
					<%= text_field_tag(:query,nil,:class=>'txt') %>
				</dd>
				<dt><%= I18n.t('layout.movements.amount') %></dt>
			<dd class="search-input">
				<%= text_field_tag(:amountmin,nil,:class=>'txt') %> a <%= text_field_tag(:amountmax,nil,:class=>'txt') %>
			</dd>
				<dt><%= I18n.t('layout.movements.typetag') %></dt>
				<dd>
					<div id="buttongroup1" class="yui-buttongroup">
						<%= radio_button_tag(:radiofield1, I18n.t('layout.movements.debit')) %>
						<%= radio_button_tag(:radiofield1, I18n.t('layout.movements.credit')) %>												
						<%= radio_button_tag(:radiofield1, I18n.t('layout.movements.all_types'),true) %>						
					</div>
					
				</dd>
				<dt><%= I18n.t('layout.movements.movdate') %></dt>
			  	<dd ><div id="calSearchContainer" >
			  	<%= hidden_field_tag(:startdate, @startdate) %>
			  	<%= hidden_field_tag(:enddate, @enddate) %>	
				
			  	</div></dd>	
					<dd class="submit">
							<div>
								<ul class="actions">
									<li>
										<%= submit_tag(I18n.t('layout.application.search'),:name=>nil ,:class => 'button') %>									
									</li>
									</ul>
							</div>
						</dd>
	
				</dl>
			</div>
			<% end %>
		</div>
	</div>
</div>

	<% content_for :javascript_includes do %>
		<%= javascript_include_tag 'bankaccount_dashboard' %>
	<% end %>