<div class="box box-first box-75 altbox "><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.movements.name') %></h3>		
		</div>
		<div class="content"> 
			
			<% if not  @movements.empty? %>
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.movements.description') %></th>
						<th class="first"><%=  I18n.t('layout.movements.amount') %></th>
						<th class="first"><%=  I18n.t('layout.movements.type') %></th>
						<th class="first"><%=  I18n.t('layout.movements.movdate') %></th>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
						<% @movements.each_with_index do |movement,i| %>	
							<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
								<td class="first"><%= link_to movement.description, polymorphic_path([@account,movement])%></td>
							    <td class="tr"><%= movement.amount.format %></td>

							    <td class="tc"><%=h movement.type_of_movement %></td>

							    <td><%=h movement.movdate.to_date %></td>				
								<td class="tc last">
									<% if movement.user_id == @current_user.id %>
									<ul class="actions">
										<li>
											<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_polymorphic_path([@account,movement]),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
										</li>
										<li>
							    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  polymorphic_path([@account,movement]) , {:method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
									</ul>		
									<% else %>
									<ul class="actions">
										
										<% if @account.allow_edit == '1' %>
										<li>
										<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_polymorphic_path([@account,movement]),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>
										</li>
										<% end %>
										<% if @account.allow_delete == '1' %>
										<li>
										<%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  polymorphic_path([@account,movement]) , {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
										
										<% end %>
									</ul>
									<% end %>
									
									 
								</td>
							</tr>
						<% end %>	
				</tbody>
			</table>
			<div class="pagination">
				
				<% if @movements.total_entries > @movements.per_page %>
								<%= will_paginate @movements , :previous_label => I18n.t('layout.application.previous'), 
								:next_label => I18n.t('layout.application.next') %>
				<% else%>
					<div></div>	
				<% end %>
			</div>
			<% else %>
				<div class="basic tc" style="margin:10px;">	
					<% if @account.allow_insert == '1' %>
		
						<%= label_tag I18n.t('layout.application.search_no_results') %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="box box-25 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="inner-form">
			
			<% form_for :search,@search ,:html=>{ :method => "get", :class => "search_form"} do |f| %>			
			<div id="search" class="basic clearfix">
				<dl >
					<dt><%= I18n.t('layout.movements.description') %></dt>
				<dd class="search-input">
					<%= f.text_field :description,:class=>'txt' %>
				</dd>
				<dt><%= I18n.t('layout.movements.amount') %></dt>
			<dd class="search-input">
				<%= f.text_field :min_amount,:value => @search.min_amount,:class=>'txt' %> a <%= f.text_field :max_amount,:class=>'txt' %>
			</dd>
				<dt><%= I18n.t('layout.movements.typetag') %></dt>
				<dd>
					<%= f.hidden_field :type_mov_hidden %>
					<div id="buttongroup1" class="yui-buttongroup">
						<input type="radio" id="search_debit" name="mov_debit" value="<%=  I18n.t('layout.movements.debit') %>" />
						<input type="radio" id="search_credit" name="mov_credit" value="<%=  I18n.t('layout.movements.credit') %>" />
						<input type="radio" id="search_all" name="mov_all" value="<%=  I18n.t('layout.movements.all_types') %>" />							
					</div>
					
				</dd>
				<dt><%= I18n.t('layout.movements.movdate') %></dt>
			  	<dd ><div id="calSearchContainer" >
			  	<%= f.hidden_field :start_date %>
			  	<%= f.hidden_field :end_date %>	
				<%= f.hidden_field :currency, :value => @account.currency %>
			  	</div></dd>	
					<dd class="submit">
							<div>
								<ul class="actions">
									<li>
										<%= f.submit I18n.t('layout.application.search'),{:name=>nil ,:class => 'button'} %>									
									</li>
									</ul>
							</div>
						</dd>
	
				</dl>
			</div>
			<% end %>
		</div>
	</div>
</div>

	<% content_for :javascript_includes do %>
		<%= javascript_include_tag 'bankaccount_dashboard' %>
	<% end %>