<div id="movements_div" class="box box-first box-50 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.movements.title') %></h3>
		</div>	
		<div  class="inner-form">
			<div class="basic">			
			<dl>
			  <dt><%= I18n.t('layout.movements.description') %></dt>
			  <dd><%=h @movement.description %></dd>
			  <dt><%= I18n.t('layout.movements.amount')  %></dt>
			  <dd><%=h @movement.amount%></dd>
			  <dt><%= I18n.t('layout.movements.movdate') %></dt>
			  <dd><%=h @movement.movdate  %></dd>	
				<dd class="submit">
					<div>
					<%= link_to I18n.t('layout.application.back'), polymorphic_path([@account,:movements]) %>
					</div>
				</dd>	   
			</dl>			
			</div>	
		</div>
	</div>
</div>
