        <div class="tabbertab">
            <h2><%=  I18n.t('layout.movements.title') %></h2>
            <div class="container1">
<p>
  <b><%= I18n.t('layout.movements.description') %></b>
  <%=h @movement.description %>
</p>

<p>
  <b><%= I18n.t('layout.movements.amount') %></b>
  <%=h @movement.amount %>
</p>

<p>
  <b><%= I18n.t('layout.movements.movdate') %></b>
  <%=h @movement.movdate %>
</p>
<% if (not @movement.lng.blank?) and (not @movement.lat.blank?) %>
<p>
<%= @map.div(:width => 400, :height => 300) %>

</p>
<% end %>


            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->