<% content_for :javascript_includes do %>
	<% if (not @movement.lng.blank?) and (not @movement.lat.blank?) %>
	<%= GMap.header(:local_search => true) %>
	<%= @map.to_html %>
	<% end%>
<% end %>
<div id="movements_div" class="box box-first box-50 cr-all"><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.movements.title') %></h3>
			<% if @account.allow_edit == '1' %>	
			<%= link_to I18n.t('layout.application.edit'),edit_polymorphic_path([@account,@movement]),:class => 'phosney-button phosney-header-button' %>
			<% end %>			
		</div>	
		<div  class=" basic cr-bottom">
			<dl>
			  <dt><%= I18n.t('layout.movements.description') %></dt>
			  <dd><%=h @movement.description %></dd>
			  <dt><%= I18n.t('layout.movements.amount')  %></dt>
			  <dd><%= @movement.amount.format %></dd>
			  <dt><%= I18n.t('layout.movements.movdate') %></dt>
			  <dd><%=h @movement.movdate.to_date  %></dd>	
			  <dt><%= I18n.t('layout.movements.category') %></dt>
			  <dd><%=h @movement.category_name %></dd>
			  <dt><%= I18n.t('layout.movements.tags') %></dt>
			  <dd><%=h @movement.tag_list  %></dd>	   
			</dl>			
		</div>
</div>
<% if (not @movement.lng.blank?) and (not @movement.lat.blank?) %>
<div class="box box-50 cr-all box-last">
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.movements.map') %></h3>	
		</div>
		<div class="basic cr-bottom" > 
			<%= @map.div(:width => 490, :height => 400, :class => 'cr-all') %>			
		</div>
</div>
<% end %>