<div class="panel" title="<%=  I18n.t('layout.movements.title')%>" id="movement_details" selected="true">
  <h2><%=  I18n.t('layout.application.details')%></h2>
  <fieldset>
	<div class="row">
		<label><%= I18n.t('layout.movements.description') %></label>
		<p><%=h @movement.description  %></p>
	</div>
	<div class="row">
		<label><%=I18n.t('layout.movements.amount') %> </label>
		<p><%=h  number_to_currency(@movement.amount*@movement.mov_type) %></p>
	</div>
    <div class="row">
		<label><%=I18n.t('layout.movements.movdate') %> </label>
		<p><%=h  @movement.movdate.to_date %></p>
	</div>	
   <div class="row">
		<label> Tags:</label>
		<p><%=h  @movement.tag_list   %></p>
	</div>
	<div class="row">
		<label> Latitude:</label>
		<p><%=h  @movement.lat   %></p>
	</div>
	<div class="row">
		<label> Longitude:</label>
		<p><%=h  @movement.lng   %></p>
	</div>
  </fieldset>   
<fieldset>
<div class="row">
<%= link_to I18n.t('layout.application.edit'), edit_polymorphic_path([@account,@movement]) ,:class=> "serviceButton"%> 
</div>
<div class="row">
<%= link_to I18n.t('layout.application.delete'),  polymorphic_path([@account,@movement]) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' ,:class=> "serviceButton"%>
</div>
</fieldset>  
</div>