<% content_for :javascript_includes do %>
	<%= javascript_include_tag 'dashboard','jquery-1.4.3.min', 'highcharts','modules/exporting'  %>
<% end %>

	<% if not @accounts.empty? %>
	<div class="box box-first box-50 cr-all">
		<div class="header cr-top">
				<h3>
					<%=  I18n.t('layout.bankaccounts.tagline') %>
				</h3>
		</div>
		<div class="content cr-bottom">
				<table cellspacing="0">
					<thead>
						<tr>
							<th class="first">
								<%=  I18n.t('layout.bankaccounts.name') %>
							</th>
							<td class="last">
								<%=  I18n.t('layout.bankaccounts.accountbalance') %>
							</td>
						</tr>
					</thead>
					<tbody>
						<% uniq_currencies = Array.new %><% @accounts.each_with_index do |account,i| %>
						<tr class="<% if i == 0 %>first<% else %><%= cycle('even', 'odd',:name=> "accounts") %><% end%>">
							<th class="first">
								<div class="account_color" style="background-color:#<%= account.color%> ;"></div><%= link_to account.name,polymorphic_path([account,:movements]) %>
							</th>
							<td class="tr">
								<%= account.balance.format %>
							</td>
						</tr>
							<% uniq_currencies << account.currency %>
						<% end %>
						<% uniq_currencies.uniq! %>
						<% uniq_currencies.sort! %>
						<%= currencies(uniq_currencies,@accounts,false)  %>
					</tbody>
				</table>
		</div>
	</div>
	<div class="box box-last box-50 cr-all">
			<div class="header cr-top">
				<h3>
					<%=  I18n.t('layout.movements.tag5line') %>
				</h3>
			</div>
			<div class="content cr-bottom">
				<table cellspacing="0">
					<thead>
						<tr>
							<th class="first">
								<%=  I18n.t('layout.movements.description') %>
							</th>
							<td class="tc">
								<%=  I18n.t('layout.movements.amount') %>
							</td>
							<td class="last">
								<%=  I18n.t('layout.movements.type') %>
							</td>
						</tr>
					</thead>
					<tbody>
						<% @last5movements.each_with_index do |movement,i| %>
						<tr class="<% if i == 0 %>first<% else %><%= cycle('even', 'odd',:name=> "movements") %><% end%>">
							<th class="first">
								<%=h movement.description %>
							</th>
							<td class="tr">
								<%=  movement.amount.format %>
							</td>
							<td>
								<%=h  movement.type_of_movement %>
							</td>
						</tr><% end %>
					</tbody>
				</table>
	</div>
	</div>
	<div  id="charts_content" class="box box-100 cr-all">
		<div id="charts" class="yui-navset ">
			<div class="header cr-top">
				<h3>
					<%=  I18n.t('layout.application.movsbymonth') %>
				</h3>
				<ul class="yui-nav ">
					<% uniq_currencies.each_with_index do |ycurrency,i| %>
					<li <% if i == 0  %>class="selected" <% end %>>
						<a href="#tab<%=i.to_s%>"><em><%=ycurrency %></em></a>
					</li><% end %>
				</ul>
			</div>
			<div   class="content cr-bottom">
				<div class="yui-content">
					<% uniq_currencies.each_with_index do |ycurrency,i| %>
					<div id="<%='tab'+i.to_s %>">
						<div id="<%='yearchart'+i.to_s %>" class="full_chart"></div>
						<script type="text/javascript">
							
							YUI().use('yui2-tabview','event', function(Y) {

							    // Event available, and ready for use.
									var YAHOO = Y.YUI2;
								Y.on("available", function () {	
									var tabView = new YAHOO.widget.TabView('charts'); 	
								 	var chart;
								    var options  = {<%= render 'charts/expenditure_by_year', :currency => ycurrency , :tab_index => i.to_s%>};
										chart = new Highcharts.Chart(options);
									YAHOO.util.Dom.setStyle('charts_content', 'visibility', 'visible');
								},'#charts');
								
							});							
						</script>		
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
