<%= javascript_include_tag "FusionCharts"%>
       <div id="dashboard" >
		  <div id="filter">
			<div class="filter-div">
				<label>Tipo</label>
				<div  id="filter_type_bgroup">
					<input type="radio" id="filter_mov_all" name="filter_mov_all" value="Todos" checked />
					<input type="radio" id="filter_mov_debit" name="filter_mov_debit" value="Debito" />
					<input type="radio"  id="filter_mov_credit" name="filter_mov_credit" value="Credito" />				
				</div>
			</div>
			<div class="filter-div">
				<label>Quando</label>	
				<div  id="filter_when_bgroup">
					<input type="radio"  id="filter_mov_year" name="filter_mov_year" value="2010" checked/>				
					<input type="radio"  id="filter_mov_lastmonth" name="filter_mov_lastmonth" value="Dezembro" />				
					<input type="radio"  id="filter_mov_thismonth" name="filter_mov_thismonth" value="Janeiro" />				
					<input type="radio"  id="filter_mov_week" name="filter_mov_week"" value="Esta Semana" />									
				</div>
			</div>
		  </div>
          <h2>
            <%=  I18n.t('layout.bankaccounts.name') %>
          </h2>
          <div >
            <h4>
              <%=  I18n.t('layout.bankaccounts.tagline') %>
            </h4>
            <table class="broom_table">
              <thead>
                <tr>
                  <th scope="col">
                    <%=  I18n.t('layout.bankaccounts.title') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.bankaccounts.accountbalance') %>
                  </th>
                </tr>
              </thead><% @bankaccounts.each do |bankaccount| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td>
                  <%=h bankaccount.name %>
                </td>
                <td>
                  <%=h number_to_currency(bankaccount.account_balance) %>
                </td>
              </tr><% end %>
              <tr class="total">
                <td>
                  <%=  I18n.t('layout.bankaccounts.total') %>
                </td>
                <td>
                  <%= number_to_currency(@bankaccounts.sum { |item| item.account_balance }) %>
                </td>
              </tr>
            </table>
          </div>
          <div >
            <h4>
              <%=  I18n.t('layout.movements.tag5line') %>
            </h4>
            <table class="broom_table">
              <thead>
                <tr>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.description') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.amount') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.type') %>
                  </th>
                </tr>
              </thead><% @last5movements.each do |movement| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td>
                  <%=h movement.description %>
                </td>
                <td>
                  <%=h  number_to_currency(movement.amount) %>
                </td>
                <td>
                  <%=h  movement.type_of_movement %>
                </td>
              </tr><% end %>
            </table>
          </div>
          <div >
            <% str_xml = render "fusioncharts/income_expenditure_by_year.builder",:layout => false,:year_data => @year_data
                render_chart '/FusionCharts/FCF_MSColumn2D.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%><% end-%>
          </div><!--/end .container2-->
        </div><!--/end .tabbertab-->
      </div>
    
<script type="text/javascript">
		var Event = YAHOO.util.Event;
		var ButtonGroup = YAHOO.widget.ButtonGroup;
		
		Event.onContentReady("filter_type_bgroup", function () {
		   var oButtonGroupQM = new ButtonGroup("filter_type_bgroup");
        });
		
		Event.onContentReady("filter_when_bgroup", function () {
		   var oButtonGroupQM = new ButtonGroup("filter_when_bgroup");
        });
  </script>

       