<%= javascript_include_tag "FusionCharts"%>
       <div id="dashboard">
          <h2>
            <%=  I18n.t('layout.bankaccounts.name') %>
          </h2>
          <div >
            <h4>
              <%=  I18n.t('layout.bankaccounts.tagline') %>
            </h4>
            <table class="broom_table">
              <thead>
                <tr>
                  <th scope="col">
                    <%=  I18n.t('layout.bankaccounts.title') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.bankaccounts.accountbalance') %>
                  </th>
                </tr>
              </thead><% @bankaccounts.each do |bankaccount| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td>
                  <%=h bankaccount.name %>
                </td>
                <td>
                  <%=h number_to_currency(bankaccount.account_balance) %>
                </td>
              </tr><% end %>
              <tr class="total">
                <td>
                  <%=  I18n.t('layout.bankaccounts.total') %>
                </td>
                <td>
                  <%= number_to_currency(@bankaccounts.sum { |item| item.account_balance }) %>
                </td>
              </tr>
            </table>
          </div>
          <div >
            <h4>
              <%=  I18n.t('layout.movements.tag5line') %>
            </h4>
            <table class="broom_table">
              <thead>
                <tr>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.description') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.amount') %>
                  </th>
                  <th scope="col">
                    <%=  I18n.t('layout.movements.type') %>
                  </th>
                </tr>
              </thead><% @last5movements.each do |movement| %>
              <tr class="<%= cycle('odd', 'even') %>">
                <td>
                  <%=h movement.description %>
                </td>
                <td>
                  <%=h  number_to_currency(movement.amount) %>
                </td>
                <td>
                  <%=h  movement.type_of_movement %>
                </td>
              </tr><% end %>
            </table>
          </div>
          <div >
            <% str_xml = render "fusioncharts/income_expenditure_by_year.builder",:layout => false,:year_data => @year_data
                render_chart '/FusionCharts/FCF_MSColumn2D.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%><% end-%>
          </div><!--/end .container2-->
        </div><!--/end .tabbertab-->
      </div>
    

       