<%= javascript_include_tag "FusionCharts"%>

        <div class="tabbertab">
            <h2><%=  I18n.t('layout.bankaccounts.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountname') %></th>  
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountbank') %></th>
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountbalance') %></th>    
    <th scope="col"></th>
  </tr>
 </thead>
<% @bankaccounts.each do |bankaccount| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h bankaccount.name %></td>
    <td><%=h bankaccount.bank %></td>
    <td><%=h bankaccount.balance.nil? ? number_to_currency(0) : number_to_currency(bankaccount.balance) %></td>
    <td>
    <%= link_to I18n.t('layout.application.edit'), edit_bankaccount_path(bankaccount),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'), bankaccount_path(bankaccount), :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete'%></td>
  </tr>
<% end %>
<tr>
<td></td>
<td><%=  I18n.t('layout.bankaccounts.total') %></td>
<td><%= number_to_currency(@bankaccounts.inject(0) { |result,element| result + element['balance'].to_f }) %></td>
<td></td>
</tr>
</table>

<br />

<% str_xml = render "fusioncharts/movements_by_month.builder",:layout => false,:spending_data => @spending_data
    render_chart '/FusionCharts/FCF_MSLine.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%> 
<% end-%> 
</div><!--/end .container2-->
   </div><!--/end .tabbertab-->
   
<div class="tabbertab">
            <h2><%=  I18n.t('layout.categories.title') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.categories.name') %></th>   
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @categories.each do |category| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h category.name %></td>   
    <td><%= link_to I18n.t('layout.application.edit'), edit_category_path(category.id),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'),  category_path(category.id) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to I18n.t('layout.categories.new'), new_category_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->
		
        <div class="tabbertab">
            <h2><%=  I18n.t('layout.tags.title') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.tags.name') %></th>   
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @tags.each do |tag| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tag.name %></td>   
    <td><!--<%= link_to I18n.t('layout.application.edit'), edit_category_path(tag.id),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'),  category_path(tag.id) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %>--></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<!--<%= link_to I18n.t('layout.tags.new'), new_category_path %>-->
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->		