<div class="header cr-top ">
	<div id="left-header">
		<img class="tag" src="/images/logo_top.png" alt="Phosney" />
		<h4 ><%=  I18n.t('layout.application.tag')  %></h4>
	</div>
	<div id="right-header">
		<ul>
			<li><%= link_to 'Login', login_path  , {:class => "cr-top"} %></li>
			<li><%= link_to I18n.t('layout.users.register'), new_account_path, {:class => " cr-top"}  %></li>
			<li> <%= link_to I18n.t('layout.users.recoverpassword'), new_password_reset_path , {:class => "active cr-top"} %></li>
		</ul>
	</div>
</div>
<% form_tag password_resets_path ,  :class => "basic" do  %>
<div class="basic cr-bottom">
<% if not flash[:notice].blank? %>
  		<div class="msg msg-error">
			<div><%= flash[:notice] %></div>
		</div>
  <% end %>
<dl>
	<label class="password_lost"><%= I18n.t('layout.users.recoverpasswordtag') %></label>
	<dt><label>Email:</label></dt>
	<dd><%= text_field_tag :email , nil,:class => 'txt' %></dd>	
	<dd class="submit">
		<div>
		<%= submit_tag  I18n.t('layout.users.resetsubmit'),:class => 'phosney-button cr-all' %> 
		</div>
	</dd>
</dl>
</div>
<% end %>