        <div class="tabbertab">
            <h2><%=  I18n.t('layout.loanaccounts.title') %></h2>
            <div class="container1">
<% form_for(@loanaccount,:html =>{:class => 'broom_form'}) do |f| %>
<% if not f.error_messages.blank? %>
		<div class="notification error">
		<a href="/#" class="close">close</a>
		<em>
		<%= f.error_messages :header_message => nil, 
		:message => nil, 
		:header_tag => :h3 %>
		</em> 
		</div>
	<% end %>

  <fieldset>
    <%= render :partial => "form", :object => f %>
	<div class="FormColumn">
		<%= f.submit I18n.t('layout.application.update'),:class => 'form_button' %> <%= I18n.t('layout.application.or') %> 
		<%= link_to I18n.t('layout.application.cancel'), loanaccounts_path %>
	</div>	
  </fieldset>
<% end %>


            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->