<%= javascript_include_tag "FusionCharts"%>

        <div class="tabbertab">
            <h2><%=  I18n.t('layout.loanaccounts.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.loanaccounts.accountname') %></th>  
    <th scope="col"><%=  I18n.t('layout.loanaccounts.accountbank') %></th>
    <th scope="col"><%=  I18n.t('layout.loanaccounts.accountbalance') %></th>    
    <th scope="col"></th>
  </tr>
 </thead>
<% @loanaccounts.each do |loanaccount| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h loanaccount.name %></td>
    <td><%=h loanaccount.bank %></td>
    <td><%=h number_to_currency(loanaccount.account_balance) %></td>
    <td>
    <%= link_to I18n.t('layout.application.edit'), edit_loanaccount_path(loanaccount),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'), loanaccount_path(loanaccount), :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete'%></td>
  </tr>
<% end %>
<tr>
<td></td>
<td><%=  I18n.t('layout.loanaccounts.total') %></td>
<td><%= number_to_currency(@loanaccounts.sum { |item| item.account_balance }) %></td>
<td></td>
</tr>
</table>

<br />

<% str_xml = render "fusioncharts/movements_by_month.builder",:layout => false,:spending_data => @spending_data
    render_chart '/FusionCharts/FCF_MSLine.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%> 
<% end-%> 
</div><!--/end .container2-->
   </div><!--/end .tabbertab-->