<% content_for :javascript_includes do %>
  <%= 'YAHOO.util.Get.script("/javascripts/accounts.js");' %>
<% end %>	
<% if not form.error_messages.blank? %>
	<div class="msg msg-error">
		<%= form.error_messages  :header_message => nil, :message => nil %>
	</div>
<% end %>
  <dt><%= form.label :name , I18n.t('layout.bankaccounts.accountname') %></dt>
  <dd><%= form.text_field :name , :class => 'txt' %></dd>
  <dt><%= form.label :number,I18n.t('layout.bankaccounts.accountnumber')  %></dt>
  <dd><%= form.text_field :number , :class => 'txt'%></dd>
  <dt><%= form.label :bank,I18n.t('layout.bankaccounts.accountbank') %></dt>
  <dd><%= form.text_field :bank , :class => 'txt'%></dd>
<% if @bankaccount.new_record? %>
  <dt><%= form.label :balance,I18n.t('layout.bankaccounts.accountbalance') %></dt>
  <dd><%= form.text_field :balance , :class => 'txt'%></dd>
<% end %>
<dt><%= form.label :locale,I18n.t('layout.application.currency') %></dt>
<dd><div id="currency_container"></div><%= form.select(:currency, [['Euro', 'EUR'], ['Dollar', 'USD'], ['Pound', 'GBP']] ,{},{:id => "account_currency"} )%></dd>
<dt><%= form.label :color,I18n.t('layout.application.color') %></dt>
<dd><%= form.hidden_field :color ,:id => "color_value"%>    <div id="color_container"></div></dd>
