  <div class="FormColumn">
    <%= form.label :name , I18n.t('layout.bankaccounts.accountname')%>
    <%= form.text_field :name %>
  </div>
  <div class="FormColumn">
    <%= form.label :number,I18n.t('layout.bankaccounts.accountnumber')  %>
    <%= form.text_field :number %>
  </div>
  <div class="FormColumn">
    <%= form.label :bank,I18n.t('layout.bankaccounts.accountbank') %>
    <%= form.text_field :bank %>
  </div>