        <div class="tabbertab">
            <h2>Account</h2>
            <div class="container1">
<h1>Editing bankaccount</h1>

<% form_for(@bankaccount) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :bank %><br />
    <%= f.text_field :bank %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', bankaccounts_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->