<%= javascript_include_tag "FusionCharts"%>
<div class="box box-first box-50 altbox "><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.bankaccounts.tagline') %></h3>
		</div>
		<div class="content">
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.bankaccounts.name') %></th>
						<td class="tr"><%=  I18n.t('layout.bankaccounts.accountbalance') %></td>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
				<% @bankaccountsdata.each_with_index do |bankaccount,i| %>	
					<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
						<th class="first"><div class="account_color" style="background-color:#<%= bankaccount.color%> ;"></div><%= link_to bankaccount.name,polymorphic_path([bankaccount,:movements]) %></th>
						<td class="tr"><%= format_currency(bankaccount.balance) %></td>
						<td class="tc last">
							<% if bankaccount.owner == '1' %>
							<ul class="actions">
								<li>
									<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_bankaccount_path(bankaccount),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
								</li>
								<li>
						    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  bankaccount_path(bankaccount) , {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
								</li>
							</ul>
							<% end %>
						</td>
					</tr>
				<% end %>		
				<%= currencies(@bankaccountsdata,true)  %>
				</tbody>
			</table>
		</div>
	</div>
</div>	
	<div class="box box-100 altbox"><!-- .altbox for alternative box's color -->
			<div class="boxin">
				<div class="header">
					<h3><%=  I18n.t('layout.application.movsbyday') %></h3>
				</div>
				<div class="content">
	  			<div >
					<% str_xml = render "fusioncharts/movements_by_month.builder",:layout => false,:spending_data => @spending_data
					    render_chart '/FusionCharts/FCF_MSLine.swf', '', str_xml, 'SpendingChart', 950, 250, false, false do-%> 
					<% end-%>
	  			</div>
	     </div>
	</div>