        <div class="tabbertab">
            <h2>Account</h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Number</th>
    <th scope="col">Bank</th>
    <th scope="col"></th>
  </tr>
 </thead>
<% @bankaccounts.each do |bankaccount| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h bankaccount.name %></td>
    <td><%=h bankaccount.number %></td>
    <td><%=h bankaccount.bank %></td>
    <td>
    <%= link_to 'Edit', edit_bankaccount_path(bankaccount),:class => 'table_edit' %>
    <%= link_to 'Destroy', bankaccount, :confirm => 'Are you sure?', :method => :delete ,:class => 'table_delete'%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bankaccount', new_bankaccount_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->