<%= javascript_include_tag "FusionCharts"%>

        <div class="tabbertab">
            <h2><%=  I18n.t('layout.bankaccounts.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountname') %></th>  
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountbank') %></th>
    <th scope="col"><%=  I18n.t('layout.bankaccounts.accountbalance') %></th>    
    <th scope="col"></th>
  </tr>
 </thead>
<% @bankaccounts.each do |bankaccount| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h bankaccount.name %></td>
    <td><%=h bankaccount.bank %></td>
    <td><%=h bankaccount.balance.nil? ? 0 : bankaccount.balance %></td>
    <td>
    <%= link_to 'Edit', edit_bankaccount_path(bankaccount),:class => 'table_edit' %>
    <%= link_to 'Destroy', bankaccount_path(bankaccount), :confirm => 'Are you sure?', :method => :delete ,:class => 'table_delete'%></td>
  </tr>
<% end %>
<tr>
<td></td>
<td><%=  I18n.t('layout.bankaccounts.total') %></td>
<td><%= @bankaccounts.inject(0) { |result,element| result + element['balance'].to_f } %></td>
<td></td>
</tr>
</table>

<br />

<% str_xml = render "fusioncharts/movements_by_month.builder",:layout => false,:spending_data => @spending_data
    render_chart '/FusionCharts/FCF_MSLine.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%> 
<% end-%> 
</div><!--/end .container2-->
   </div><!--/end .tabbertab-->