        <div class="tabbertab">
            <h2><%=  I18n.t('layout.bankaccounts.title') %></h2>
            <div class="container1">

<% form_for(@bankaccount) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label I18n.t('layout.bankaccounts.accountname') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label I18n.t('layout.bankaccounts.accountnumber')  %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label I18n.t('layout.bankaccounts.accountbank') %><br />
    <%= f.text_field :bank %>
  </p>
  <p>
    <%= f.submit I18n.t('layout.application.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.application.cancel'), bankaccounts_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->