 <% accounts = current_user.accounts.group_by(&:type) %>
 <% accounts.keys.sort.each do |type,index| %>
      <div class="menu_main_section <% index == 0 ? 'first' : ""  %>">
          <h4 id="menu_main_h_support"><%= link_to I18n.t('layout.bankaccounts.name'), polymorphic_path(type.pluralize.downcase) %></h4>
          <ul>
          <% accounts[type].each do |menu| %>
              <% if not accountnumber.nil? and accountnumber== menu.id %>
              <li class="selected"><%= link_to menu.name,  polymorphic_path([menu,:movements]) %></li>
              <% else %>
              <li><%= link_to menu.name,  polymorphic_path([menu,:movements]) %></li>
              <% end %>
              
          <% end %>
          <% if account_selected == 0 %>
              <li class="selected"><%= link_to I18n.t('layout.bankaccounts.newaccount'), new_polymorphic_path(type.downcase) %></li>
          <% else %>
              <li><%= link_to I18n.t('layout.bankaccounts.newaccount'), new_polymorphic_path(type.downcase) %></li>
          <% end %>
          </ul>
      </div><!--/end #menu_main_section-->
<% end %>