<div id="applicationmenu" class="cr-top yuimenubar yuimenubarnav">
   <div class="bd">
   		<ul class="first-of-type">
    		<li class="yuimenubaritem first-of-type firstli" ><a class="menutop yuimenubaritemlabel" href="/">Dashboard</a></li>

			<li class="yuimenubaritem"><%= link_to I18n.t('layout.application.accounts'), accounts_path, :class =>  'menutop   yuimenubaritemlabel' %>
	 			<div id="accounts" class="yuimenu">
                    <div class="bd">
	                    <ul>	
							<% accounts_type = [Bankaccount,Creditcardaccount,Loanaccount] %>
 							<% accounts_type.each do |tipo| %>  
							<li class="yuimenuitem"><%= link_to I18n.t('layout.'+tipo.name.pluralize.downcase+'.name'), polymorphic_path(tipo.name.pluralize.downcase) , :class => 'yuimenuitemlabel'%>
								<div id="<%= tipo%>" class="yuimenu">
	      							<div class="bd">
	       								<ul class="first-of-type">
											<% contas = @menu_accounts.select { |item| item.class == tipo }%>
											<% contas.sort_by(&:name).each  do |menu| %>        
											<li class="yuimenuitem"><%= link_to menu.name,  polymorphic_path([menu,:movements]) , :class => 'yuimenuitemlabel'%></li>                
							<% end %>
		      								<li class="yuimenuitem">
											<%= link_to I18n.t('layout.'+tipo.name.pluralize.downcase+'.newaccount'), new_polymorphic_path(tipo),:class => 'yuimenuitemlabel'%> 				
											</li>
										</ul>
									</div>
								</div>
							</li>
							<% end %>	
					</ul>
					</div>
				</div>
			</li>
			<li class="yuimenubaritem"><%= link_to I18n.t('layout.categories.title'), categories_path, :class => 'menutop yuimenuitemlabel' %></li>			
			<li class="yuimenubaritem lastli"><%= link_to I18n.t('layout.tags.title'), tags_path, :class => 'menutop yuimenuitemlabel' %></li>		
		</ul>
	</div>
</div>
			