<% form_for @quick_movement, :url => { :controller => 'movements',:action => "quickcreate"},:html =>{:class => 'plain cr-bottom', :id => 'quick_movement'} do |f| %>
			<div class="quickmovement-div">
				<label  for='quickmov_account'><%= I18n.t('layout.bankaccounts.accountname')%></label>	
				<div id="quickmov_account_container"></div>	
				<%= f.collection_select :account_id, current_user.accounts.find_accounts_insert(:all,:order => 'name'), :id, :name,  {:include_blank => false }, { :id => 'quickmov_account' }%>
			</div>
			<div class="quickmovement-div">
				<%= f.label :description, I18n.t('layout.movements.description') %>
				<%= f.text_field :description , :size => 20, :class => 'txt' %>
			</div>
			<div class="quickmovement-div">
				<%= f.label  :amount, I18n.t('layout.movements.amount') %>
				<%= f.text_field :amount ,{:size => 10 , :class => 'txt' } %>
			</div>
			<div  id="datefields"  class="quickmovement-div">
					<%= f.label :movdate,  I18n.t('layout.movements.movdate') %>
					<%= f.date_select :movdate%>
				</div>
			<div class="quickmovement-div">
				<label  for='quickmov_account'><%=  I18n.t('layout.movements.category') %></label>
				<div id="quickmov_category_container"></div>	
				<%= f.collection_select :category_id, current_user.categories.shared( :all), :id, :name, { :include_blank => true}, { :id => 'quickmov_category' } %>
			</div>
			<div class="quickmovement-div">
				<%= f.label :tag_list, I18n.t('layout.tags.title') %>
				<%= f.text_field :tag_list , :size => 20 , :class => 'txt' %>
			</div>
			<div class="quickmovement-div">
				<label><%= I18n.t('layout.movements.typetag') %></label>
				<div id="quickmovement_type_bgroup" class="yui-buttongroup">
					<%= f.hidden_field :mov_type, {:id => "quickmovement_type"}%>
					<input type="radio" id="qm_mov_debit" name="qm_mov_debit" value="<%=  I18n.t('layout.movements.debit') %>" />
					<input type="radio"  id="qm_mov_credit" name="qm_mov_credit" value="<%=  I18n.t('layout.movements.credit') %>" />				
				</div>
			</div>
			<div class="quickmovement-submit" id="div-quickmovement-submit">
				 <%= f.submit '+',{:id=> "qm-submit",:class => 'phosney-button' } %>
			</div>
<% end %>