<% content_for :javascript_includes do %>
	<%= 'YAHOO.util.Get.script("/javascripts/users.js");' %>
<% end %>
<dt><%= form.label :login,I18n.t('layout.users.username') %></dt>
<dd><%= form.text_field :login , :readonly => @user.new_record? ? false : true,:class => 'txt' %></dd>
<dt><%= form.label :password, form.object.new_record? ? I18n.t('layout.users.password') : I18n.t('layout.users.changepassword')  %></dt>
<dd><%= form.password_field :password , :class => 'txt' %></dd>
<dt><%= form.label :password_confirmation, I18n.t('layout.users.passwordconfirmation') %></dt>
<dd><%= form.password_field :password_confirmation , :class => 'txt' %></dd><dt><%= form.label :email%></dt>
<dd><%= form.text_field :email , :class => 'txt'%></dd>
<dt><%= form.label :locale,I18n.t('layout.users.locale') %></dt>
<dd><div id="locale_container"></div><%= form.select(:locale, [['Português', 'pt'], ['English', 'en']]) %></dd>