<div class="FormRow">
<%= form.label :login,I18n.t('layout.users.username')  %>
<%= form.text_field :login %>
</div>
<div class="FormRow">
<%= form.label :password, form.object.new_record? ? I18n.t('layout.users.password') : I18n.t('layout.users.changepassword') %>
<%= form.password_field :password %>
</div>
<div class="FormRow">
<%= form.label :password_confirmation,I18n.t('layout.users.passwordconfirmation')  %>
<%= form.password_field :password_confirmation %>
</div>
<div class="FormRow">
<%= form.label :email %><%= form.text_field :email %>
</div>
<div class="FormRow">
<%= form.label :locale,I18n.t('layout.users.locale') %><%= form.select(:locale, [['Português', 'pt'], ['English', 'en']]) %> 
</div>