        <div class="tabbertab">
            <h2><%=  I18n.t('layout.users.title') %></h2>
            <div class="container1">

 
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit I18n.t('layout.application.update') %><%= button_to I18n.t('layout.application.cancel'), account_path %>
<% end %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->
 
