<div class="box box-50 cr-all"><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.users.title') %></h3>
								<%= link_to I18n.t('layout.application.edit'), edit_account_path ,:class => 'phosney-button' %>
		</div>
		<div class="basic cr-bottom">			
				<dl>
				  <dt><%= I18n.t('layout.users.username') %></dt>
				  <dd><%=h @user.login %></dd>
				  <dt>Email</dt>
				  <dd><%=h @user.email%></dd>
				</dl>			
		   </div>
</div>