<div class="box box-first box-50 altbox "><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.bankaccounts.tagline') %></h3>
		</div>
		<div class="content">
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.creditcardaccounts.name') %></th>
						<td class="tr"><%=  I18n.t('layout.creditcardaccounts.accountbalance') %></td>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
				<% uniq_currencies = Array.new %>
				<% @creditcardaccounts.each_with_index do |creditcardaccount,i| %>	
					<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
						<th class="first"><div class="account_color" style="background-color:#<%= creditcardaccount.color%> ;"></div><%= link_to creditcardaccount.name,polymorphic_path([creditcardaccount,:movements]) %></th>
						<td class="tr"><%= creditcardaccount.balance.format %></td>
						<td class="tc last">
							<ul class="actions">
								<li>
									<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_creditcardaccount_path(creditcardaccount),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
								</li>
								<li>
						    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),   creditcardaccount_path(creditcardaccount), {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
								</li>
							</ul>
						</td>
					</tr>
					<% uniq_currencies << creditcardaccount.currency %>
				<% end %>	
				<% uniq_currencies.uniq! %>	
				<% uniq_currencies.sort! %>	
				<%= currencies(uniq_currencies,@creditcardaccounts,true)  %>
				</tbody>
			</table>
		</div>
	</div>
</div>	
<% uniq_currencies.each do |ycurrency| %>
	<div class="box box-100 altbox"><!-- .altbox for alternative box's color -->
			<div class="boxin">
				<div class="header">
					<h3><%=  I18n.t('layout.application.movsbyday') %> (<%= ycurrency%>)</h3>
				</div>
				<div class="content">
					<div id="<%='movementschart'+ycurrency  %>" class="full_chart">
					</div>	
						<% chart_settings = render '/charts/expenditure_by_year_settings.xml',:layout => false %>
						<% chart_settings= chart_settings.gsub(/\r\n?/, "") %>
						<script type="text/javascript">
						    // <![CDATA[    
						    var so = new SWFObject("/amcharts/amcolumn.swf", "<%='movementschart'+ycurrency  %>", "988", "250", "8", "#ffffff");
						    so.addVariable("path", "/amcharts/");
						    so.addVariable("chart_settings","<%= chart_settings %>");
						    so.addVariable("data_file", escape("<%=  expenditure_by_month_account_type_path :format =>:xml , :currency => ycurrency,:account_type => 'Creditcardaccount'%>"));									
						    so.addVariable("preloader_color", "#000000");
						    so.addVariable("additional_chart_settings", "<settings><strings><no_data><%=  I18n.t('layout.charts.no_data') %></no_data></strings></settings>");
						    so.write("<%='movementschart'+ycurrency  %>");
						    // ]]>
						  </script>
						</div>
	     </div>
	</div>
	<% end %>