<%= javascript_include_tag "FusionCharts"%>

        <div class="tabbertab">
            <h2><%=  I18n.t('layout.creditcardaccounts.name') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.creditcardaccounts.accountname') %></th>  
    <th scope="col"><%=  I18n.t('layout.creditcardaccounts.accountbank') %></th>
    <th scope="col"><%=  I18n.t('layout.creditcardaccounts.accountbalance') %></th>    
    <th scope="col"></th>
  </tr>
 </thead>
<% @creditcardaccounts.each do |creditcardaccount| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h creditcardaccount.name %></td>
    <td><%=h creditcardaccount.bank %></td>
    <td><%=h creditcardaccount.balance.nil? ? number_to_currency(0) : number_to_currency(creditcardaccount.balance) %></td>
    <td>
    <%= link_to I18n.t('layout.application.edit'), edit_creditcardaccount_path(creditcardaccount),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'), creditcardaccount_path(creditcardaccount), :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete'%></td>
  </tr>
<% end %>
<tr>
<td></td>
<td><%=  I18n.t('layout.creditcardaccounts.total') %></td>
<td><%= number_to_currency(@creditcardaccounts.inject(0) { |result,element| result + element['balance'].to_f }) %></td>
<td></td>
</tr>
</table>

<br />

<% str_xml = render "fusioncharts/movements_by_month.builder",:layout => false,:spending_data => @spending_data
    render_chart '/FusionCharts/FCF_MSLine.swf', '', str_xml, 'SpendingChart', 750, 250, false, false do-%> 
<% end-%> 
</div><!--/end .container2-->
   </div><!--/end .tabbertab-->