<div class="box  box-100 cr-all "><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.tags.title') %></h3>
			<% if not  @tags.empty? %>
				<%= link_to I18n.t('layout.tags.new'), new_tag_path ,:class => 'phosney-button phosney-header-button'%>
			<% end%>
		</div>
		<div class="content cr-bottom">
 		    <% if not  @tags.empty? %>
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.tags.name') %></th>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
					</thead>
						<tbody>
						<% @tags.each_with_index do |tag,i| %>	
							<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
								<th class="first"><%=h tag.name %></th>
								<td  class="tc last">
									 <ul class="actions">
										<li>
											<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_tag_path(tag.id),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
										</li>
										<li>
							    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  tag_path(tag.id) , {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
									</ul>							
								</td>
							</tr>
						<% end %>	
						</tbody>
			</table>
			<% if @tags.total_entries >  @tags.per_page %>
			<div class="pagination">				
				<%= will_paginate @tags , :previous_label => I18n.t('layout.application.previous'), :next_label => I18n.t('layout.application.next') %>
					</div>
			<% end %>
	
			<% else %>
					<div class="basic tc blank">
						<%= link_to I18n.t('layout.tags.new'), new_tag_path %>
					</div>
			<% end %>
		</div>
</div>