        <div class="tabbertab">
            <h2><%=  I18n.t('layout.tags.title') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.tags.name') %></th>   
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @tags.each do |tag| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h tag.name %></td>   
    <td><!--<%= link_to I18n.t('layout.application.edit'), edit_category_path(tag.id),:class => 'table_edit' %>-->
    <%= link_to I18n.t('layout.application.delete'),  tag_path(tag.id) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<!--<%= link_to I18n.t('layout.tags.new'), new_category_path %>-->
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->