        <div class="tabbertab">
            <h2><%=  I18n.t('layout.tags.name') %></h2>
            <div class="container1">

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, I18n.t('layout.tags.name') %><br />
    <%= f.text_field :name %>
  </p>
    <p>
  
  <p>
    <%= f.submit I18n.t('layout.application.create') %>
  </p>
<% end %>

<%= link_to I18n.t('layout.application.cancel'), tags_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->