<div class="box box-100 altbox "><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.categories.title') %></h3>
			<% if not  @categories.empty? %>
				<%= link_to I18n.t('layout.categories.new'), new_category_path ,:class => 'button'%>
			<% end%>
		</div>
		<div class="content">
			<% if not  @categories.empty? %>
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first"><%=  I18n.t('layout.categories.name') %></th>
						<td class="tc last actions"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
						<% @categories.each_with_index do |category,i| %>	
							<tr class="<% if i == 0  %>first<% else %><%= cycle('even', 'odd') %><% end%>" >
								<th class="first"><%=h category.name %></th>
								<td class="tc last">
									 <ul class="actions">
										<li>
											<%= link_to image_tag("/images/led-ico/pencil.png",:alt => I18n.t('layout.application.edit')), edit_category_path(category.id),{:class  =>'ico', :title => I18n.t('layout.application.edit')} %>	
										</li>
										<li>
							    <%= link_to image_tag("/images/led-ico/delete.png",:alt =>I18n.t('layout.application.delete')),  category_path(category.id) , {:confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'ico' , :title => I18n.t('layout.application.delete')} %>
										</li>
									</ul>
								</td>
							</tr>
						<% end %>	
				</tbody>
			</table>
			<% else %>
				<div class="tc" style="margin:10px;">
					<%= link_to I18n.t('layout.categories.new'), new_category_path %>
				</div>
			<% end %>
		</div>
	</div>
</div>
