        <div class="tabbertab">
            <h2><%=  I18n.t('layout.categories.title') %></h2>
            <div class="container1">

<table class="broom_table">
 <thead>
  <tr>
    <th scope="col"><%=  I18n.t('layout.categories.name') %></th>   
    <th scope="col"></th>
  </tr>
</thead>   
<tbody>
<% @categories.each do |category| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h category.name %></td>   
    <td><%= link_to I18n.t('layout.application.edit'), edit_category_path(category.id),:class => 'table_edit' %>
    <%= link_to I18n.t('layout.application.delete'),  category_path(category.id) , :confirm => I18n.t('layout.application.deletemessage'), :method => :delete ,:class => 'table_delete' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to I18n.t('layout.categories.new'), new_category_path %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->