<% content_for :javascript_includes do %>

<% end %>
<div class="box box-first box-100 cr-all "><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.categories.title') %></h3>
			<% if not  @categories.empty? %>
				<%= link_to I18n.t('layout.categories.new'), new_category_path ,:class => 'phosney-button phosney-header-button'%>
			<% end%>
		</div>
		<div class="content categories_content cr-bottom">
			<% if not  @categories.empty? %>
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="first categoryname"><%=  I18n.t('layout.movements.description') %></th>
						<th class="first categoryamount">Maio</th>
						<th class="first categoryamount">Junho</th>
						<th class="first categoryamount">Julho</th>
						<th class="first categoryamount">Agosto</th>
						<th class="first categoryamount">Setembro</th>
						<th class="first categoryamount">Outubro</th>
						<td class="tc last actionsshared"><%=  I18n.t('layout.application.actions') %></td>
					</tr>
				</thead>
				<tbody>
					<%= nodes(@categories,nil,1) %>	
				</tbody>
			</table>
			
			<% else %>
				<div class="basic tc blank" >	
							<%= link_to I18n.t('layout.categories.new'), new_category_path  %>
				</div>
			<% end %>
		</div>
</div>
