<% content_for :javascript_includes do %>
   <%= javascript_include_tag 'categories_dashboard' %>
<% end %>
<div class="box box-first box-100 cr-all "><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.categories.title') %></h3>
			<% if not  @categories.empty? %>
				<%= link_to I18n.t('layout.categories.new'), new_category_path ,:class => 'phosney-button phosney-header-button'%>
			<% end%>
		</div>
		<div class="content categories_content cr-bottom">
			<% if not  @categories.empty? %>
			<div id="categoriesnl">
				<ul  class="catnestedlist droppable">

					<%= nodes(@categories,nil) %>					

				</ul>
			</div>
			<% else %>
				<div class="tc" style="margin:10px;">
					<%= link_to I18n.t('layout.categories.new'), new_category_path %>
				</div>
			<% end %>
		</div>
</div>
