<div id="category_div"  class="box box-first box-50 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
				<h3><%=  I18n.t('layout.categories.new') %></h3>
		</div>
		<% form_for(@category,:html =>{:class => 'basic'}) do |f| %>
		<div class="inner-form">
			<dl>
		    <%= render :partial => "form", :object => f %>
				<dd class="submit">
					<div>
						<%= f.submit I18n.t('layout.application.create'),:class => 'button' %> <%= I18n.t('layout.application.or') %> 
						<%= link_to I18n.t('layout.application.cancel'), categories_path %>
					</div>
				</dd>
			</dl>				
		</div>
		<% end %>
	</div>
</div>