<div class="box box-50 cr-all">
	<% form_for([@account,@sharedaccount],:html =>{:class => 'basic'}) do |f| %>
	<div class="header cr-top">
			<h3><%=  I18n.t('layout.accountsusers.name') %></h3>
			<%= f.submit I18n.t('layout.application.update'),:class => 'phosney-button phosney-header-button' %>
		</div>
   		<div class="basic cr-bottom">		
			<dl>
				<dt><%= f.label :email , I18n.t('layout.accountsusers.user')  %></dt>
				<dd><%= f.text_field  :login,:disabled => :true ,:class => 'txt' %></dd>	
				<dt><%= f.label I18n.t('layout.accountsusers.caninsert') %></dt>
				<dd><%= f.check_box :allow_insert %></dd>
				<dt><%= f.label I18n.t('layout.accountsusers.canupdate') %></dt>
				<dd><%= f.check_box :allow_edit %></dd>				
				<dt><%= f.label I18n.t('layout.accountsusers.candelete') %></dt>
				<dd><%= f.check_box :allow_delete %></dd>				
			</dl>						
		</div>
		<% end %>		
</div>
 