        <div class="tabbertab">
            <h2><%=  I18n.t('layout.accountsusers.name') %></h2>
            <div class="container1">
<% form_for([@account,@sharedaccount]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label I18n.t('layout.accountsusers.user') %><br />
    <%= f.text_field :login,:disabled => :true %>
  </p>
 <p>
    <%= f.check_box :allow_insert %>
	<%= f.label I18n.t('layout.accountsusers.caninsert') %><br />
  </p>
  <p>
    <%= f.check_box :allow_edit %>
	<%= f.label I18n.t('layout.accountsusers.canupdate') %><br />
  </p>
  <p>
    <%= f.check_box :allow_delete %>
	<%= f.label I18n.t('layout.accountsusers.candelete') %><br />
  </p> 
  <p>
    <%= f.submit I18n.t('layout.application.update')  %>
  </p>
<% end %>

<%= link_to I18n.t('layout.application.back'), polymorphic_path([@account,:movements]) %>
            </div><!--/end .container1-->
        </div><!--/end .tabbertab-->