<% form_for @user_session, :html => { :class => "login_form"}, :url => user_session_path do |f| %>
  <fieldset>
   <% if not f.error_messages.blank? %>
  <div class="notification error"><a href="#" class="close">close</a><em><img src="images/icons/cross_circle.png" alt=""/><%= f.error_messages %></em> </div>
  <% end %>
  <label for="user_session_username" class="label2">
  <span><%=  I18n.t('layout.users.username') %></span>
  <%= f.text_field :login %>	
  </label>

  <label for="user_session_password" class="label2">
  <span><%=  I18n.t('layout.users.password') %></span>
  <%= f.password_field :password %>
  </label>

  <div class="button">
  <div class="btn-inner">
  <span>
  <em>
    <button type="submit"><%= image_tag("icons/lock.png") %>Log in</button>

  </em>                       
   </span>					
  </div>
  </div>
 <%= link_to I18n.t('layout.users.recoverpassword'), new_password_reset_path , {:class => "forgot_login"}%>
 <%= link_to I18n.t('layout.users.register'), new_account_path , {:class => "forgot_login"}%>
  </fieldset>
  <% end %>

      