<div class="box box-first box-50 altbox"><!-- .altbox for alternative box's color -->
	<div class="boxin">
		<div class="header">
			<h3><%=  I18n.t('layout.sharedinvitations.name') %></h3>
		</div>
		<% form_for([@account,@sharedinvitation],:html =>{:class => 'basic'}) do |f| %>
   		<div class="inner-form">
				<% if not f.error_messages.blank? %>
					<div class="msg msg-error">
						<%= f.error_messages  :header_message => nil, :message => nil %>
					</div>
			<% end %>
			<dl>
				<dt><%= f.label :email , I18n.t('layout.sharedinvitations.email')  %></dt>
				<dd><%= f.text_field :recipient_email,:class => 'txt' %></dd>	
				<dt><%= f.label I18n.t('layout.sharedinvitations.caninsert') %></dt>
				<dd><%= f.check_box :allow_insert %></dd>
				<dt><%= f.label I18n.t('layout.sharedinvitations.canupdate') %></dt>
				<dd><%= f.check_box :allow_edit %></dd>				
				<dt><%= f.label I18n.t('layout.sharedinvitations.candelete') %></dt>
				<dd><%= f.check_box :allow_delete %></dd>				
				<dd class="submit">
					<div>
						<%= f.submit I18n.t('layout.application.send'),:class => 'button' %> <%= I18n.t('layout.application.or') %> 
						<%= link_to I18n.t('layout.application.cancel'), polymorphic_path([@account,:movements]) %>
					</div>
				</dd>
			</dl>				
		</div>
		<% end %>
	</div>
</div>