<div class="box box-50 cr-all"><!-- .altbox for alternative box's color -->
		<div class="header cr-top">
			<h3><%=  I18n.t('layout.sharedinvitations.name') %></h3>
		</div>
   		<div class="basic cr-bottom">
		<% form_for([@account,@sharedinvitation],:html =>{:class => 'basic'}) do |f| %>

				<% if not f.error_messages.blank? %>
					<div class="msg msg-error">
						<%= f.error_messages  :header_message => nil, :message => nil %>
					</div>
			<% end %>
			<dl>
				<dt><%= f.label :email , I18n.t('layout.sharedinvitations.email')  %></dt>
				<dd><%= f.text_field :recipient_email,:class => 'txt' %></dd>	
				<dt><%= f.label I18n.t('layout.sharedinvitations.caninsert') %></dt>
				<dd><%= f.check_box :allow_insert %></dd>
				<dt><%= f.label I18n.t('layout.sharedinvitations.canupdate') %></dt>
				<dd><%= f.check_box :allow_edit %></dd>				
				<dt><%= f.label I18n.t('layout.sharedinvitations.candelete') %></dt>
				<dd><%= f.check_box :allow_delete %></dd>				
				<dd class="submit">
					<%= f.submit I18n.t('layout.application.send'),:class => 'phosney-button edit cr-bottom-left' %>
					<%= link_to I18n.t('layout.application.cancel'), polymorphic_path([@account,:movements]),:class => 'phosney-button delete cr-bottom-right'  %>
				</dd>
			</dl>				
		<% end %>
		</div>
</div>