<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=  I18n.t('layout.application.title') %></title>
<%= stylesheet_link_tag 'reset-min','main'%>
<!--javascript-->
	<script type="text/javascript" src="http://yui.yahooapis.com/combo?3.1.1/build/yui/yui-min.js"></script>
	<script type="text/javascript"> 
	  var locale = '<%= I18n.locale %>';
	</script>
<!--css-->

</head>
<body class="yui-skin-sam">
	<div id='mainheader'>
    	<div  id="header">
			<div id="logo"><h1><a href="/"><%=  I18n.t('layout.application.name') %></a></h1>
			</div>
			<div id="top_menu">
				<%= render :partial => 'partials/menu'  %>
	    	</div>
			<%= link_to I18n.t('layout.application.logout'), logout_path,  :id => 'logoutbutton' %>
			<%= link_to I18n.t('layout.application.settings'), account_path, :id => 'settingsbutton'  %>
		</div>
	</div>
	<%= render :partial => 'partials/quickmovement'  %>
	<div class="msg msg-breadcrumb cr-all"><p><%= render_breadcrumbs :separator => ' / ' %></p></div>
	<% if flash[:notice] -%> 
  		<div class="msg msg-ok cr-all"><p><%= flash[:notice]%></p></div>
	<% end -%>

	
	<div id="content_main" >	
				<%=	yield %>
	</div>
	<div  id="footer" class="cr-all">
		<p class="left">Copyright &copy; </p>
		<p class="right">Phosney.com 2009.</p>
	</div>    

		<%= javascript_include_tag 'application' %>
	<%= yield :javascript_includes %>
</body><!--/end #b_main-->
</html>
