<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=  I18n.t('layout.application.title') %></title>
<%= GMap.header %>
<%= @map.to_html unless @map.blank? %>
<!--jQuery-->
<%= javascript_include_tag 'jquery-1.3.2' %>
<!--tabber-->
<%= javascript_include_tag 'tabber-minimized' %>    
<!--css-->
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'tabber' %>
<script type="text/javascript">
   $(document).ready(function(){
    $(".broom_form").validate();//validates any form with class="broom_form"
	//$('.date-pick').datePicker({startDate:'01/01/1996'});//initiates datepicker, in this case with a begin date of 01/01/1996; earlier dates cannot be selected
	$("a.close").click(function(){   $(this).parent().slideUp(); return false;});  //links with class 'close' close parent div
    });   
</script>
</head>

<body id="b_main">

<div id="header">
    <div id="logo">
		<h1 id="header_broomcupboard"><a href="/"><%=  I18n.t('layout.application.name') %></a></h1>
		<h4 id="header_strapline"><%=  I18n.t('layout.application.tag')  %></h4>
		<ul id="welcome">
			<li><%= link_to I18n.t('layout.application.logout'), user_session_path, :method => :delete, :confirm => I18n.t('layout.users.logout') %></li>
			<li><%= link_to I18n.t('layout.application.settings'), account_path %></li>      
			<li><%= I18n.t('layout.application.welcome') %> <strong><%= current_user.login %></strong></li>
			<li id="last"><%= I18n.t('layout.application.lastlogin') %> <%=  current_user.last_login %></li>
		</ul><!--/end #welcome-->
	
    </div><!--/end #logo-->
	
</div><!--/end #header-->
    
<div id="wrapper"><!--holds pretty much everything-->
    <div id="menu_main">
   <%= render(:partial => "partials/menu") %>
    </div><!--/end #menu_main-->

	<div id="content">
        <div class="tabber">
        
            <%= yield %>            
        
        </div><!--/end .tabber-->
    </div><!--/end #content-->
    


</div>
<!--/end #wrapper-->

<div class="clear"></div><!--/end .clear-->



</body><!--/end #b_main-->



</html>
