<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=  I18n.t('layout.application.title') %></title>
<%= GMap.header %>
<%= @map.to_html unless @map.blank? %>
<!--javascript-->
<%= javascript_include_tag 'yui/yahoo-dom-event/yahoo-dom-event','yui/calendar/calendar-min','yui/container/container_core-min','yui/element/element-min','yui/button/button-min','application' %>
<!--css-->
<%= stylesheet_link_tag 'reset','main','yui/fonts/fonts-min','yui/calendar/assets/skins/sam/calendar','yui/button/assets/skins/sam/button' %>


</head>
<body class="yui-skin-sam">
	<div id=login >
	
	</div>
	<div id="navigation">
		<ul>
		  <li class="current"><%= link_to 'Dashboard', dashboard_path %></li>
		  <li><%= link_to I18n.t('layout.bankaccounts.title'), bankaccounts_path %></li>
		  <li><%= link_to I18n.t('layout.categories.title'), categories_path %></li>
		  <li><%= link_to I18n.t('layout.tags.title'), tags_path %></li>   
		</ul>
	</div>
	<div id="quickmovement" > 
		<%= render :partial => 'partials/quickmovement'  %>
	</div>

	<div id="main" >
	
	<%= yield %> 
       
    </div>

    <div id="footer" >Copyright &copy; Phosney.com 2009.</div>
    
</body><!--/end #b_main-->
</html>
