<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=  I18n.t('layout.application.title') %></title>
<%= GMap.header %>
<%= @map.to_html unless @map.blank? %>
<!--jQuery-->
<%= javascript_include_tag 'jquery-1.3.2','jquery.quickflip','application' %>
<!--css-->
<%= stylesheet_link_tag 'reset','main' %>


</head>
<body>
	<div id=login>
	
	</div>
	<div id="logo">
	</div>
	<div id="navigation">
	<ul >
      <li class="current"><a href="/">Dashboard</a></li>
      <li><a href="/">Working</a></li>
      <li><a href="/">Failed</a></li>
      <li><a href="/">Queues</a></li>
      <li><a href="/">Workers</a></li>
      <li><a href="/">Stats</a></li>
    </ul>
	</div>
	<div id="quickmovement">
		<%= render(:partial => "partials/quickmovement") %>
	</div>
	<div id="main" >
        <div id="content">
            <div class="toolbox">Wide view:&nbsp;<a id="wideView" href="#"></a></div>
				<div id="primary">
				<%= yield %>            
				</div>
				<div id="search"> 
				<p>
		      The new common language will be more simple and regular than the existing 
                European languages. It will be as simple as Occidental; in fact, it will be 
                Occidental.</p>
				</div>
				
        </div>

        <div id="sidebar" >
			<div class="quickflip-wrapper">
							<div id="detalhe" class="quickflip-div">
					<h3>Detalhes</h3>
					<ul>
						<li>Nome</li>
						<li>Numero</li>
						<li>Banco</li>
					</ul>
					<a href="#" class="quickFlipCta">Contas</a>
				</div>	
				<div id="contas" class="quickflip-div">
					<h3>Accounts</h3>
					<h4>BankAccounts</h4>
					<ul>
						<li>BCPsdfsdfsdfdf sdfsdfsfsdfsdfsfsf</li>
						<li>Caixa</li>
						<li>BPI</li>			
						<li>BCP</li>
						<li>Caixa</li>
						<li>BPI</li>	
						<li>BCP</li>
						<li>Caixa</li>
						<li>BPI</li>	
						<li>BCP</li>
						<li>Caixa</li>
						<li>BPI</li>	
												<li>BCP</li>
						<li>Caixa</li>
						<li>BPI</li>	
						<li>BCP</li>
						<li>Caixa</li>
						<li>BPI</li>							
						<li>Caixa</li>
						<li>BPI</li>	
						
					</ul>
					<a href="#" class="quickFlipCta">Detalhes</a>
				</div>				
			
			</div>
        </div>
        <div id="comments">
            <h3>Comments</h3>
            <p>
                <span>Visitor 1</span>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of 
                the Semantics, a large language ocean.
            </p>
            <p>

                <span>Visitor 2</span>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of 
                the Semantics, a large language ocean.
            </p>
            <p>
                <span>Visitor 3</span>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, 
                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of 
                the Semantics, a large language ocean.
            </p>
        </div>
    </div>

    <div id="footer">Copyright &copy; JankoAtWarpSpeed 2009.</div>
    
</body><!--/end #b_main-->
</html>
