<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=  I18n.t('layout.application.title') %></title>

<%= javascript_include_tag 'yui/yahoo-dom-event/yahoo-dom-event','yui/calendar/calendar-min','yui/container/container_core-min','yui/element/element-min','yui/button/button-min','yui/menu/menu-min' %>

<%= stylesheet_link_tag 'reset','main','yui/fonts/fonts-min','yui/calendar/assets/skins/sam/calendar','yui/button/assets/skins/sam/button', 'yui/menu/assets/skins/sam/menu' %>

<%= yield :javascript_includes %>

</head>
<body id="login" class="yui-skin-sam">
		<div class="box box-50 altbox">
			<div class="boxin">
						 <%= yield %>	
			</div>
		</div>
</body>
</html>
