<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=  I18n.t('layout.application.title') %></title>
<!--favicon-->

<!--jQuery-->
<!--css-->
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'main' %>

</head>

<body class="yui-skin-sam">
	<div id=login >
   <%= yield %>	
	</div>
	<div id="navigation">
   <h1 id="header_broomcupboard"><a href="/"><%=  I18n.t('layout.application.name') %></a></h1>
    <h4 id="header_strapline"><%=  I18n.t('layout.application.tag')  %></h4>	
	</div>
	

	<div id="main" >
	
	
       
    </div>

    <div id="footer" >Copyright &copy; Phosney.com 2009.</div>
</body>
</html>
